.btn-success {
  color: #fff;
  background-color: #9A5AE8;
  border-color: #9A5AE8;
}

li.errors{
  list-style-type: none;
}
input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

input.ng-valid.ng-dirty {
  background-color: #78FA89;
}